* {
    font-family: Arial, Helvetica;
    font-size: 30px;
    box-sizing: border-box;
    margin: 8px;
}
.title{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 120px;  
    width: 400px;
    padding: 25px 30px 10px;
    border-radius: 80px;
    margin: 30px auto  120px;
}
.subsection{
    font-size: 40px;
    border-radius: 5px 80px 40px 5px;
    padding: 20px;
    margin: 30px 10px;
    width:280px;
    height: 100px;
}
.subsection.big{
    width: 420px;
    }

.mac{
    color: #c50909;
    background-color: #feeeb9 ;
}
.mac .title{
    color: #FFD700 ;
    background-color: #FF6347;
    border: 8px double #FFD700;
}
.mac .subsection{
    border: 8px dotted #979700;
}
.kash{
    color: #8B4513;
    background-color: #F5F5DC;
}
.kash .title{
    color: #FFA500 ;
    background-color: #8B4513;
    border: 8px double #FFA500;
    width: 600px;
}
.kash .subsection{
    border: 8px dashed #FFA500;
    
}
.cake{
    color: #3E2723;
    background-color: #FFD4D4;
}
.cake .title{
    color: #3E2723 ;
    background-color: #E0E0E0;
    border: 8px double #3E2723;
    width: 500px;
}
.cake .subsection{
    border: 8px groove #909090;
}
.ending{
    font-size: 40px;
}