.coloring.recipe {
    font-size: 80px;
}
.coloring {
    color:rgb(247, 197, 79);
    background-color: rgba(0, 0, 0, 0.889);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}

#word {
    font-size: 35px;
    color:rgb(239, 184, 56);
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.text {
    font-size:25px;
    line-height: 1.5;
    font-family:'Courier New', Courier, monospace;
}
#bold {
    font-size: 30px;
    font: bold;
}

#important {
    color: red;
}





.coloring-t.recipe {
        font-size: 80px;
}

.coloring-t {
    color: rgb(255, 227, 175);
    background-color: rgba(0, 0, 0, 0.741);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
}